@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Arvo', serif;
    font-weight: 400;
}

.text-center {
    text-align: center;
}

/*global grunge border*/
.grunge-border {
    background: url(../images/grunge-border.png) center 0 / 100% 60px no-repeat;
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 7;
}

/* HEADER */
header {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
}

header::before {
    content: "";
    background-image: url(../images/pexels-murat-gokce.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: grayscale(60%) contrast(0.9) brightness(0.7);
}

header .grunge-border {
    bottom: 0;
}

h1 {
    color: #ffffff;
    position: absolute;
    top: 15%;
    max-width: 40rem;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

header p {
    padding: 5px 30px 5px 10px;
    background-color: hsla(0, 0%, 100%, 0.642);
    position: absolute;
    right: 0;
    max-width: 60%;
    bottom: 20%;
    text-align: left;

}


/* NAVIGATION BAR */

/* brush-stroke */
.brush-stroke {
    margin: 0;
    padding: 5px 20px;
    background: url(../images/brush-stroke.png);
    background-position: center;
    background-size: 105% 45px;
    background-repeat: no-repeat;
}

/* container */
.navbar {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    height: 4rem;
    color: #c0a364;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 8;
}

/* logo */
.logo-image {
    position: relative;
    top: 5px;
    height: 3rem;
    width: 6rem;
}

/* menu list */
.menu-list {
    list-style-type: none;
}

.menu-list li {
    display: inline-block;
}

.menu-list li a {
    color: #c0a364;
    font-size: 1.2rem;
    text-decoration: none;
}

.menu-list li a:hover {
    color: #e8c77f;
}

/* book now */
#book-now {
    font-size: 1.2rem;
}

#book-now a {
    color: #c9613b;
    text-transform: uppercase;
    text-decoration: none;
}

#book-now a:hover {
    color: #f87d51;
}

/* gamburger navbar for 900px wide screen size and down*/
#burger-input{
    display: none;
  }

#burger-menu {
    width: 50px;
    height: 50px;
    display: none;
    background-color: #AA7339;
}

#burger-menu #side-navbar {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -500px;
    height: 100%;
    background-color: #c4c2c0;
    transition: 0.4s;
    padding: 0px 20px;
}

#burger-menu ul {
    padding-top: 10px;
    padding-left: 10px;
}

#burger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

#burger-menu a {
    color: #AA7339;
    font-size: 1.3rem;
    text-decoration: none;
}

#burger-menu a:hover {
    text-decoration: underline;
}

#burger-input:checked + #burger-menu #side-navbar {
    visibility: visible;
    right: 0;
}
#burger-input:checked {
    visibility: visible;
    opacity: 0.4;
}

/* SERVICES */

/* service container */
.servises-container {
    position: relative;
    color: whitesmoke;
    padding: 5rem 0;
}

.servises-container::before {
    content: "";
    position: absolute;
    background: url(../images/pexels-nikolaos-dimou.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: blur(5px) grayscale(70%) sepia(30%) contrast(0.9) brightness(0.7);
}

.servises-container .grunge-border {
    top: 0;
    transform: rotate(180deg);
}

.service-heading, .servises-content {
    position: relative;
}

/* service header */
.servises-container h2 {
    display: inline-block;
    padding-left: 7%;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.863);
    letter-spacing: 8px;
    font-weight: 700;
}

#stroke {
    display: inline-block;
    content: url(../images/stroke.png);
    margin-left: 10px;
    width: 180px;
    height: 20px;
}

/* service content */
.servises-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 2rem;
}

/* list headers */
.servises-content h3 {
    margin-bottom: 10px;
    color: #AA7339;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.863);
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.servises-content h3:hover {
    border-bottom: 1px solid rgba(163, 163, 163, 0.776);
}

.servises-content img {
    width: 2rem;
    margin-bottom: 1rem;
}

.servises-content a {
    text-decoration: none;
}

/* servise lists */
.servises-content ul {
    font-weight: 400;
    color: #f0d18d;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.863);
    line-height: 2rem;
    list-style-type: none;
}


/* DETAIL SERVICE */

.detail-service-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.service-wraper {
    display: flex;
    align-items: center;
    background-color: rgba(151, 140, 124, 0.235);
}

/* picture */
.service-pic {
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    filter: grayscale(40%) sepia(10%);
}

.haircut-pic{
    background-image: url(../images/pexels-thgusstavo-santana-hair.jpg);
    background-position-y: -12rem;
}

.beard-pic {
    background-image: url(../images/pexels-thgusstavo-santana-beard.jpg);
    order: 1;
    background-position-y: -15rem;
}

.shave-pic {
    background-image: url(../images/pexels-thgusstavo-santana-shave.jpg);
    background-position-y: -10rem;
}

/* text */
.service-text {
    width: 50%;
    padding: 0 30px;
    text-align: justify;
}

.service-text h2 {
    color: #443030;
}

.service-text p {
    padding: 20px 20px 0;
    line-height: 140%;
    color: #141513;
}

.service-text a {
    text-decoration: none;
    color: #AA7339;
    font-weight: bold;
}

.service-text a:hover {
    text-decoration: underline 1px #141513;
}


/* FOOTER */
footer {
    padding-top: 30px;
    background-color: #181b18eb;
    color: rgb(190, 188, 186);
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

footer h3 {
    font-weight: 400;
    padding-bottom: 10px;
}

footer p, p-number a{
    font-size: 19px;
}

footer a {
    text-decoration: 1px underline;
    color: inherit;
}

footer a:hover {
    text-decoration: none;
}

.copyright {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* visit us */
.visit-us {
    position: relative;
}

.address{
    padding-bottom: 10px;
    line-height: 25px;
}

.visit-us i {
    position: absolute;
    left: -25px;
}

/* opening times */
.opening-times p{
    line-height:50px;
}

/* find us */
.find-us {
    text-align: center;
}

.find-us li {
    display: inline-block;
    font-size: 40px;
    padding: 30px 0;
}

.find-us .facebook {
    padding: 0 40px;
}


/* MEDIA QUERIES */

/* For large screens sizes from 1200px wide and up */

/* detail service grunge border */
@media screen and (min-width: 1200px) {
    .detail-service-container .grunge-border.left {
        top: 730px;
        width: 1500px;
        left: -735px;
        transform: rotate(90deg);
    }
    .detail-service-container .grunge-border.right {
        top: 730px;
        width: 1500px;
        right: -735px;
        transform: rotate(-90deg);
    }
}

@media screen and (max-width: 1200px) {
    .menu-list li a {
        font-size: 1.1rem;
    }
    .menu-list .brush-stroke {
        background-size: 100% 40px;
    }

    /* detail service pictures */
    .haircut-pic, .beard-pic, .shave-pic {
        background-position: center;
    }
    .detail-service-container .grunge-border.left, .grunge-border.right{
        display: none;
    }
}

/* For screens sizes from 1050px wide and down */
@media screen and (max-width: 1050px) {
    h1 {
        top: 20%;
    }
    .menu-list li a, .servises-content li, .service-text p, .copyright {
        font-size: 0.9rem;
    }
    #book-now.brush-stroke {
        background-size: 100% 40px;
    }

    .servises-container h2 {
        font-size: 2rem;
    }
    #stroke {
        height: 15px
    }
    .servises-content h3, footer h3, #book-now {
        font-size: 1rem;
    }
    .service-text h2 {
        font-size: 1.3rem;
    }
    .address, .address p, .p-number, .opening-times p {
        font-size: 0.8rem;
    }
    .find-us a{
        font-size: 1.5rem;
    }
}

/* For screens sizes from 900px wide and down */
@media screen and (max-width: 900px) {
    header {
        height: 50vh;
    }

    h1 {
        font-size: 3rem;
    }

    /* navbar */
    .menu-list {
        display: none;
    }
    .navbar {
        justify-content: space-between;
        padding: 0 40px;
    }
    #burger-menu {
        display: flex;
      }

    /* services */
    .servises-container h2 {
        font-size: 1.7rem;
    }
    #stroke {
        width: 150px;
        height: 10px;
    }
    .service-text h2 {
        font-size: 1.1rem;
    }
    .servises-content img {
        width: 1.8rem;
    }

    /* footer */
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-container > div {
        padding: 20px 0;
    }
    footer h3 {
        padding-bottom: 5px;
    }
    .opening-times p{
        line-height: 30px;
    }
    .find-us li {
        padding: 10px 0;
    }
    .copyright {
        font-size: 0.8rem;
    }
}

/* For screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    .servises-content {
        flex-direction: column;
        align-items: center;
    }
    .servises-content > div {
        width: 10rem;
        padding: 20px 0px 5px;

    }
    .servises-content ul {
        border-bottom: #AA7339 3px groove;
    }
}

/* For screens sizes from 750px wide and down */
@media screen and (max-width: 750px) {
    /* header */
    h1 {
        top: 15%;
        font-size: 2.5rem;
    }
    header p {
        padding: 5px 20px 5px 10px;
    }

    /* deatail services */
    .detail-service-container .service-wraper{
        display: flex;
        flex-direction: column;
    }
    .haircut-pic{
        order: 1;
    }
    .shave-pic {
        order: 6;
    }
    .service-pic, .service-text {
        width: 100%;
    }

    .service-text {
        padding: 2.1rem 1rem 1.3rem;
    }
    .service-text p {
        line-height: 30px;
    }
}