@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Arvo', serif;
    font-weight: 400;
}

/* HEADER */
header {
    position: relative;
    height: 70vh;
}

header::before {
    content: "";
    background-image: url(../images/pexels-murat-gokce.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: saturate(0.7) contrast(0.9) brightness(0.8);
}

.header-border {
    background: url(../images/grunge-border.png) center 0 / 100% 60px no-repeat;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 99998;
}

.text-center {
    text-align: center;
}

h1 {
    color: #ffffff;
    position: absolute;
    top: 10%;
    margin: 0 10rem;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.header-text {
    padding: 5px 20px 5px 10px;
    background-color: hsla(0, 0%, 100%, 0.642);
    position: absolute;
    left: 40%;
    bottom: 20%;
    text-align: left;
}

.header-text > p {
    color: #010101;
}

/* NAVIGATION BAR */

/* brush-stroke */
.brush-stroke {
    margin: 0;
    padding: 5px 20px;
    background: url(../images/brush-stroke.png);
    background-position: center;
    background-size: 105% 45px;
    background-repeat: no-repeat;
}

/* container */
.navbar {
    position: sticky;
    color: #c0a364;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* logo */
.logo-image {
    height: 2.7rem;
    width: 6rem;
}

/* menu list */
.menu-list {
    list-style-type: none;
}

.menu-list li {
    display: inline-block;
}

.menu-list li a {
    color: #c0a364;
    font-size: 1.2rem;
    text-decoration: none;
}

.menu-list li a:hover {
    color: #e8c77f;
}

/* book now */
#book-now {
    font-size: 1.2rem;
}

#book-now a {
    color: #c9613b;
    text-transform: uppercase;
    text-decoration: none;
}

#book-now a:hover {
    color: #f87d51;
}
