@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Arvo', serif;
    font-weight: 400;
}

.text-center {
    text-align: center;
}

/*global grunge border*/
.grunge-border {
    background: url(../images/grunge-border.png) center 0 / 100% 60px no-repeat;
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 7;
}

/* HEADER */
.main-header {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.main-header::before {
    content: "";
    background-image: url(../images/pexels-murat-gokce.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: grayscale(60%) contrast(0.9) brightness(0.7);
}

.main-header .grunge-border {
    bottom: 0;
}

.header-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 5;
}

h1 {
    color: #ffffff;
    padding: 0 30px;
    font-size: 3.5rem;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    z-index: 5;
}

.header-text p {
    padding: 5px 30px 5px 10px;
    background-color: hsla(0, 0%, 100%, 0.642);
    max-width: 60%;
    align-self: flex-end;
    z-index: 5;
}


/* NAVIGATION BAR */

/* brush-stroke */
.brush-stroke {
    margin: 0;
    padding: 5px 20px;
    background: url(../images/brush-stroke.png);
    background-position: center;
    background-size: 105% 45px;
    background-repeat: no-repeat;
}

/* container */
.navbar {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    height: 4rem;
    color: #c0a364;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 8;
}

/* logo */
.logo-image {
    position: relative;
    top: 5px;
    height: 3rem;
    width: 6rem;
}

/* menu list */
.menu-list {
    list-style-type: none;
}

.menu-list li {
    display: inline-block;
}

.menu-list li a {
    color: #c0a364;
    font-size: 1.2rem;
    text-decoration: none;
}

.menu-list li a:hover {
    color: #e8c77f;
}

/* book now */
#book-now {
    font-size: 1.2rem;
}

#book-now a {
    color: #c9613b;
    text-transform: uppercase;
    text-decoration: none;
}

#book-now a:hover {
    color: #f87d51;
}

/* gamburger navbar for 900px wide screen size and down*/
#burger-input{
    display: none;
  }

#burger-menu {
    width: 50px;
    height: 50px;
    display: none;
    background: linear-gradient(
      to bottom,
      #eba55b, #AA7339 20%,
      #f2f2f2 20%, #f2f2f2 40%,
      #eba55b 40%, #AA7339 60%,
      #f2f2f2 60%, #f2f2f2 80%,
      #eba55b 80%, #AA7339 100%
    );
    cursor: pointer;
}

#burger-menu:hover {
    background: linear-gradient(
        to bottom,
        #AA7339, #AA7339 20%,
        #f2f2f2 20%, #f2f2f2 40%,
        #AA7339 40%, #AA7339 60%,
        #f2f2f2 60%, #f2f2f2 80%,
        #AA7339 80%, #AA7339 100%
      );
      opacity: 98%;
}

#burger-menu #side-navbar {
    visibility: hidden;
    position: fixed;
    top: -300px;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s;
}

#burger-menu li {
    list-style-type: none;
    text-align: center;
    background-color: #ffffff;
    line-height: 2.8rem;
    border-bottom: 1.3px solid black;
}

#burger-menu li:hover {
    background-color: #e3e3e3;
}

#burger-menu a {
    color: #AA7339;
    font-size: 1.2rem;
    text-decoration: none;
}

#burger-input:checked + #burger-menu #side-navbar {
    visibility: visible;
    top: 0;
}
#burger-input:checked {
    visibility: visible;
    opacity: 0.4;
}

/* SERVICES */

/* service container */
.servises-container {
    position: relative;
    color: whitesmoke;
    padding: 5rem 0;
}

.servises-container::before {
    content: "";
    position: absolute;
    background: url(../images/pexels-nikolaos-dimou.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: blur(5px) grayscale(70%) sepia(30%) contrast(0.9) brightness(0.7);
}

.servises-container .grunge-border {
    top: 0;
    transform: rotate(180deg);
}

.service-heading, .servises-content {
    position: relative;
}

/* service header */
.servises-container h2 {
    display: inline-block;
    padding-left: 7%;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.863);
    letter-spacing: 8px;
    font-weight: 700;
}

#stroke {
    display: inline-block;
    content: url(../images/stroke.png);
    margin-left: 10px;
    width: 180px;
    height: 20px;
}

/* service content */
.servises-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 2rem;
}

/* list headers */
.servises-content h3 {
    margin-bottom: 10px;
    color: #AA7339;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.863);
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

#services h3:hover {
    border-bottom: 1px solid rgba(163, 163, 163, 0.776);
}

.servises-content img {
    width: 2rem;
    margin-bottom: 1rem;
}

.servises-content a {
    text-decoration: none;
}

/* servise lists */
.servises-content ul {
    font-weight: 400;
    color: #f0d18d;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.863);
    line-height: 2rem;
    list-style-type: none;
}


/* DETAIL SERVICE */

.detail-service-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.service-wraper {
    display: flex;
    align-items: center;
    background-color: rgba(151, 140, 124, 0.235);
}

/* picture */
.service-pic {
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    filter: grayscale(40%) sepia(10%);
}

.haircut-pic{
    background-image: url(../images/pexels-thgusstavo-santana-hair.jpg);
    background-position-y: -12rem;
}

.beard-pic {
    background-image: url(../images/pexels-thgusstavo-santana-beard.jpg);
    order: 1;
    background-position-y: -15rem;
}

.shave-pic {
    background-image: url(../images/pexels-thgusstavo-santana-shave.jpg);
    background-position-y: -10rem;
}

/* text */
.service-text {
    width: 50%;
    padding: 0 30px;
    text-align: justify;
}

.service-text h2 {
    color: #443030;
}

.service-text p {
    padding: 20px 20px 0;
    line-height: 140%;
    color: #141513;
}

.service-text a {
    text-decoration: none;
    color: #AA7339;
    font-weight: bold;
}

.service-text a:hover {
    text-decoration: underline 1px #141513;
}


/* FOOTER */
footer {
    padding-top: 30px;
    background-color: #181b18eb;
    color: rgb(190, 188, 186);
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
}

footer h3 {
    font-weight: 400;
    padding-bottom: 10px;
}

footer p, p-number a{
    font-size: 19px;
}

footer a {
    text-decoration: 1px underline;
    color: inherit;
}

footer a:hover {
    text-decoration: none;
}

.copyright {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* visit us */
.visit-us {
    position: relative;
}

.address{
    padding-bottom: 10px;
    line-height: 25px;
}

.visit-us i {
    position: absolute;
    left: -25px;
}

/* opening times */
.opening-times p{
    line-height:50px;
}

/* find us */
.find-us {
    text-align: center;
}

.find-us li {
    display: inline-block;
    font-size: 40px;
    padding: 30px 0;
}

.find-us .facebook {
    padding: 0 40px;
}


/* ----- BOOK NOW ----- */

/* PRICE */
.servises-container.price-container::before {
    background-image: url(../images/pexels-moises-delgado.jpg);
    background-position: top center;
    background-attachment: fixed;
    filter: blur(8px) grayscale(60%)  contrast(0.9) brightness(0.7);
}

.price-container h2 {
    position: relative;
}

.price h3 {
    color: #f0d18d;
}

/* price table */
.price table {
    border-collapse: collapse;
    width: 100%;
  }

.price tr {
    border-bottom: 0.2px dotted rgb(154, 148, 148);
}

.price th, td {
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.863);
}

.price th {
    padding-right: 10px;
    text-align: left;
    font-weight: 400;
}

.price td {
    text-align: right;
    white-space:nowrap;
}
.price td[data-content="by-agreement"] {
    white-space: normal;
    width: 40%;
}


/* APPOITMENT SECTION*/

/* container */
.appoitment-container {
    background-color: rgba(151, 140, 124, 0.235);
    display: flex;
}

.form-container {
    width: 50%;
}

.picture-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.picture-container,  .picture-container img {
    height: 39em;
    flex: 1;
    filter: grayscale(40%) sepia(20%);
}


/* FORM */

/* header */
.appoitment-form h2 {
    padding: 2em 2em 1.3em;
    color: #443030;
    letter-spacing: 1px;
    font-size: 1.6em;
}

/* main data block */
.input-block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1.5em 0;
}

.data {
    display: flex;
    flex-direction: column;
}

.data div{
    display: flex;
    justify-content: space-evenly;
}

/* personal-info fields */
.data input {
    background: transparent;
    font-size: 1.1em;
}

.personal-info input {
    border: none;
    border-bottom: 2px dotted #443030;
}

.personal-info input::placeholder {
    color: transparent;
}

.personal-info input:placeholder-shown ~ label {
    top: -3px;
    font-size: 1em;
    color: #797f80;
    transition:  0.4s;
  }

.personal-info label {
    position: absolute;
    top: -25px;
    font-size: 0.7em;
    color: #ab6d2a;
}

.personal-info label:hover {
    cursor: text;
}

.personal-info input:focus {
    outline: none;
}

.personal-info input:focus ~ label{
    top: -25px;
    font-size: 0.7em;
    color: #ab6d2a;
    cursor: text;
}

/* datetime fields */
.datetime input{
    color: #797f80;
    border-radius: 6px;
}

/* service selection */
.service-selection-container {
    padding: 1.8em 2em 0;
}

.service-selection-container h3 {
    font-size: 1.2em;
    color: #443030;
    letter-spacing: 1px;
}

.service-selection-wraper {
    display: flex;
    justify-content: space-around;
    padding: 2em 0 3em;
}

.checkbox-field input {
    display: none;
}

.checkbox-field label{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
}

.checkbox-field img {
    width: 3.1em;
    padding-bottom: 1em;
}

.checkbox-field label:hover {
    cursor: pointer;
    border: 0.5px dotted;
}

.checkbox-field input[type="checkbox"]:not(:checked) ~ label{
    filter: grayscale(0.8);
    color: #797f80;
}

/* submit button */
.submit-button {
    display: flex;
    justify-content: center;
}

.submit-button input {
    padding: 1em 3em;
    border: none;
    background-color: rgb(182, 160, 131);
    font-size: 0.9em;
}

.submit-button input:hover {
    cursor: pointer;
    border: 1.5px solid;
}

.submit-button input:checked {
    background-color: rgb(218, 155, 73);
}


/* MAP */
.map {
    filter: grayscale(40%) contrast(0.9);
    display: flex;
}

.map iframe {
    border: none;
    width: 100%;
    height: 300px;
}

/* MEDIA QUERIES */

/* For large screens sizes from 1200px wide and UP */
@media screen and (min-width: 1200px) {
    /* SIDE GRUNGE Border */
    /* detail service grunge border */
    .detail-service-container .grunge-border {
        top: 730px;
        width: 1500px;
    }
    .detail-service-container .grunge-border.left {
        left: -735px;
        transform: rotate(90deg);
    }
    .detail-service-container .grunge-border.right {
        right: -735px;
        transform: rotate(-90deg);
    }

    /* appoitment grunge border */
    .appoitment-container .grunge-border {
        top: 370px;
        width: 780px;
    }
    .appoitment-container .grunge-border.left{
        left: -370px;
    }
    .appoitment-container .grunge-border.right{
        right: -370px;
    }

    /* table width */
    .price table {
        margin: 0 5rem;
    }
}

/* For large screens sizes from 1200px wide and DOWN */
@media screen and (max-width: 1200px) {
    .menu-list li a {
        font-size: 1.1rem;
    }
    .menu-list .brush-stroke {
        background-size: 100% 40px;
    }

    /* detail service pictures */
    .haircut-pic, .beard-pic, .shave-pic {
        background-position: center;
    }
    .detail-service-container .grunge-border.left, .grunge-border.right{
        display: none;
    }

    /* table width */
    .price table {
        margin: 0 3rem;
    }
}

/* For screens sizes from 1050px wide and down */
@media screen and (max-width: 1050px) {
    .menu-list li a, .servises-content li, .price tr, .service-text p, .copyright {
        font-size: 0.9rem;
    }
    .menu-list .brush-stroke {
        background-size: 98% 32px;
    }
    #book-now.brush-stroke {
        background-size: 100% 35px;
    }

    .servises-container h2 {
        font-size: 1.8rem;
    }
    #stroke {
        height: 15px
    }
    .servises-content h3, footer h3, #book-now {
        font-size: 1rem;
    }
    .service-text h2 {
        font-size: 1.3rem;
    }
    .address, .address p, .p-number, .opening-times p {
        font-size: 0.8rem;
    }
    .find-us a{
        font-size: 1.5rem;
    }

    /* table width */
    .price table {
        margin: 0 2rem;
    }

    /* APPOITMENT SECTION*/
    .picture-container {
        display: none;
    }
    .form-container {
        width: 100%;
    }
    .service-selection-container h3 {
        padding-left: 1rem;
    }
    .submit-button {
        padding-bottom: 3em;
    }
}

/* For screens sizes from 900px wide and down */
@media screen and (max-width: 900px) {
    h1 {
        font-size: 3rem;
    }

    /* navbar */
    .menu-list {
        display: none;
    }
    .navbar {
        justify-content: space-between;
        padding: 0 40px;
    }
    #burger-menu {
        display: flex;
      }

    /* services */
    #stroke {
        width: 150px;
        height: 10px;
    }
    .service-text h2 {
        font-size: 1.1rem;
    }
    .servises-content img {
        width: 1.8rem;
    }

    /* table width */
    .price table {
        margin: 0 1rem;
    }
}

/* For screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    /* header */
    h1 {
        font-size: 2.5rem;
    }
    .header-text p {
        max-width: 70%;
        padding: 5px 20px 5px 10px;
    }

    /* price table */
    .servises-content.price {
        flex-direction: column;
        align-items: center;
    }
    /* width */
    .servises-content.price {
        margin: 0 3rem;
    }

    /* column padding */
    .price table:first-child {
        margin-bottom: 3rem;
    }
}

/* For screens sizes from 750px wide and down */
@media screen and (max-width: 750px) {
    /* service area */
    .servises-container h2 {
        font-size: 1.5rem;
    }
    .servises-content h3 {
        font-size: 0.9rem;
    }
    .servises-content {
        flex-direction: column;
        align-items: center;
    }
    .servises-content > div {
        width: 10rem;
        padding: 20px 0px 5px;

    }
    .servises-content ul {
        border-bottom: #AA7339 3px groove;
    }

    /* deatail services */
    .detail-service-container .service-wraper{
        display: flex;
        flex-direction: column;
    }
    .haircut-pic{
        order: 1;
    }
    .shave-pic {
        order: 6;
    }
    .service-pic, .service-text {
        width: 100%;
    }

    .service-text {
        padding: 2.1rem 1.4rem 1.3rem;
    }
    .service-text p {
        line-height: 30px;
    }

    /* footer */
    footer {
        padding: 0 20px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-container > div {
        padding: 20px 0;
    }
    footer h3 {
        padding-bottom: 5px;
    }
    .opening-times p{
        line-height: 30px;
    }
    .find-us li {
        padding: 10px 0;
    }
    .copyright {
        font-size: 0.8rem;
    }

    /* appoitment-container */
    .appoitment-container {
        font-size: 0.95em;
    }
}

/* For screens sizes from 500px wide and down */
@media screen and (max-width: 500px) {

    /* header */
    h1 {
        font-size: 1.6rem;
    }
    .header-text p {
        max-width: 80%;
        font-size: 0.80em;
    }

    /* navbar */
    .navbar {
        padding: 0;
        justify-content: space-around;
    }
    .logo-image {
        height: 2.6rem;
        width: 4.6rem;
    }
    #book-now {
        font-size: 0.8rem;
    }
    #book-now.brush-stroke {
        background-size: 90% 27px;
    }
    #burger-menu {
        width: 40px;
        height: 40px;
    }

    /* services */
    .service-heading #stroke {
        position: relative;
        top: -5px;
    }
    #stroke {
        width: 100px;
        height: 7px;
    }

    /* detail services */
    .service-text h2{
        padding: 0 20px 10px;
    }
    .service-text p {
        padding: 0;
    }

    /* price container*/
    .price-container h2 {
        font-size: 1.4rem;
        letter-spacing: 5px;
    }
    /* width */
    .servises-content.price {
        margin: 0 2rem;
    }

    /* form */
    .appoitment-form h2 {
        text-align: center;
        padding: 3rem 0 1rem;
        font-size: 1.4em;
    }
    .data div{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 1rem;
    }
    .service-selection-wraper, .submit-button {
        font-size: 0.85em;
    }
}

/* For screens sizes from 360px wide and down */
@media screen and (max-width: 360px) {
    .service-heading #stroke {
        display: none;
    }

    /* price table */
    .price-container h2 {
        font-size: 1.2rem;
        letter-spacing: 3px;
    }

    /* form */
    .appoitment-container h2 {
        font-size: 1.2rem;
        padding-left: 10px;
        padding-right: 10px;
    }
    .service-selection-container h3 {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .service-selection-wraper {
        flex-direction: column;
        font-size: 0.95em;
        padding: 1em 0;
        align-items: center;
    }
    .checkbox-field {
        padding: 20px 0;
    }
}

/* For screens sizes from 300px wide and down */
@media screen and (max-width: 300px) {
    h1 {
        font-size: 1.5rem;
    }
    .header-text p {
        font-size: 0.70em;
    }
}
